.menuContainer {
    margin-top: 3%;
    display: flex;
    justify-content:space-between;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    position: relative;
    height: 50px;
    background: #FFE81F;
    /* padding: 10px; */
}


.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    /* Show hamburger button on mobile */
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffe91f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
}

.menu.open {
    display: flex;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul a {
    text-decoration: none;
    color: #333;
}


.menu li {
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px double black
}

.menu ul a  {
    text-decoration: none;
    color: #333;
}

.menu li:hover {
    background-color: #74747480;
}

.menu li.active {
    background-color: aliceblue;
    color: #000;
}

.swheader {
    font-family: "Black Ops One", system-ui;
    font-weight: 900;
    font-style: normal;
}
/* Large screens */
@media (min-width: 768px) {
    .hamburger {
        display: none;
        /* Hide hamburger button on large screens */
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        box-shadow: none;
        background-color: transparent;
        width: auto;
        transform: none;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        position: static;
        box-shadow: none;
        background-color: transparent;
        width: auto;
        transform: none;
    }

    .menuContainer {
        justify-content: space-between;
        /* Center the menu horizontally */
        height: 50px;
    }

    .menu li {
        /* height: 50px; */
        padding: 15px;
    }
}